<div class="row page-header">
  <div class="col">
    <h1><%= @static_page.title %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= @static_page.content %>
      </div>
    </div>
  </div>
</div>
