<div class="row page-header pb-0">
  <div class="col-12 page-header-heading">
    <h1><%= @static_page.title %></h1>
  </div>
  <div class="col-12">
    <%= educate_navigation(active: :educate) %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= @static_page.content %>
      </div>
    </div>
  </div>
</div>
