<div class="row">
  <div class="col">
    <h1><%= _('Skills') %></h1>
    <%= link_to _('New skill'), new_admin_skill_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th><%= _('Name') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @skills %>
      </tbody>
    </table>
  </div>
</div>
