<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('Steps') %></h1>
    <%= link_to _('New step'), new_admin_step_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th></th>
            <th><%= _('Name') %></th>
          </tr>
          </thead>
          <%= tag.tbody(render(@steps),
                        data: { controller: 'sortable',
                                reposition_path: reposition_admin_steps_path }) %>
        </table>
      </div>
    </div>
  </div>
</div>
