<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('Periods') %></h1>
    <%= link_to _('New period'), new_admin_period_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th><%= _('Name') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render @periods %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
