<% records = [local_assigns[:commentable], comment].compact %>

<%= simple_form_for(records,
                    data: local_assigns[:data],
                    html: {
                      id: combined_dom_id(*records),
                      class: local_assigns[:class]
                    }) do |f| %>
  <%= f.input :content, as: :rich_text_area, label: false, input_html: { id: "#{combined_dom_id(*records)}_body" } %>
  <div class="d-flex justify-content-end">
    <%= f.submit class: 'btn btn-primary' %>
    <% if f.object.persisted? %>
      <%= link_to _('cancel'), comment, class: 'btn btn-link' %>
    <% end %>
  </div>
<% end %>
