<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('Equipment') %></h1>
  </div>
</div>

<%= link_to _('Locations'), admin_equipment_locations_path, class: 'btn btn-primary' %>
<%= link_to _('Locks'), admin_equipment_locks_path, class: 'btn btn-primary' %>
