<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('Locations') %></h1>
    <%= link_to _('New location'), new_admin_equipment_location_path, class: 'btn btn-outline-primary' %>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <% @locations.each do |location| %>
            <%= render partial: 'location', locals: { location: location } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
