<div class="row">
  <div class="col">
    <h1>
      <%= icon(id: @principle.icon) %>
      <%= @principle.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render(partial: 'form') %>
  </div>
</div>
