<div class="dropdown">
  <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <%= _('Principles') %>
  </button>
  <ul class="dropdown-menu">
    <% @principles.each do |principle| %>
      <li><%= link_to principle.name, principle, class: 'dropdown-item' %></li>
    <% end %>
  </ul>
</div>
