.page-header {
  @extend .border-bottom;
  @extend .py-3;
  @extend .mb-3;

  background: $white;

  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p.lead {
    @extend .mb-0;
  }
}
