<div class="row page-header">
  <div class="col">
    <h1><%= _('Static sections') %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th><%= _('Name') %></th>
            <th><%= _('Identifier') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render @static_sections %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
