<div class="row page-header">
  <div class="col-12 page-header-heading">
    <h1><%= _('New static page') %></h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <%= render(partial: 'form') %>
      </div>
    </div>
  </div>
</div>
