<div class="toast" role="alert" data-controller="toast" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto"><%= title %></strong>
    <small><%= tag.time(datetime: datetime, data: { controller: 'time-ago' }) %></small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%= message %>
  </div>
</div>
